<?xml version="1.0" encoding="UTF-8"?>
<T3DataStructure>
    <meta>
        <langDisable>1</langDisable>
    </meta>
    <sheets>
        <sDEF>
            <ROOT>
                <sheetTitle>LLL:EXT:mai_events/Resources/Private/Language/locallang_db.xlf:flexform.sheet.general</sheetTitle>
                <type>array</type>
                <el>
                    <settings.viewMode>
                        <label>LLL:EXT:mai_events/Resources/Private/Language/locallang_db.xlf:flexform.settings.viewMode</label>
                        <config>
                            <type>select</type>
                            <renderType>selectSingle</renderType>
                            <items type="array">
                                <numIndex index="0" type="array">
                                    <label>LLL:EXT:mai_events/Resources/Private/Language/locallang_db.xlf:flexform.settings.viewMode.month</label>
                                    <value>month</value>
                                </numIndex>
                                <numIndex index="1" type="array">
                                    <label>LLL:EXT:mai_events/Resources/Private/Language/locallang_db.xlf:flexform.settings.viewMode.week</label>
                                    <value>week</value>
                                </numIndex>
                                <numIndex index="2" type="array">
                                    <label>LLL:EXT:mai_events/Resources/Private/Language/locallang_db.xlf:flexform.settings.viewMode.list</label>
                                    <value>list</value>
                                </numIndex>
                            </items>
                            <default>month</default>
                        </config>
                    </settings.viewMode>
                    <settings.listLimit>
                        <label>LLL:EXT:mai_events/Resources/Private/Language/locallang_db.xlf:flexform.settings.listLimit</label>
                        <config>
                            <type>number</type>
                            <default>10</default>
                            <range>
                                <lower>1</lower>
                                <upper>100</upper>
                            </range>
                        </config>
                    </settings.listLimit>
                    <settings.categoryUid>
                        <label>LLL:EXT:mai_events/Resources/Private/Language/locallang_db.xlf:flexform.settings.categoryUid</label>
                        <config>
                            <type>category</type>
                            <relationship>oneToOne</relationship>
                        </config>
                    </settings.categoryUid>
                </el>
            </ROOT>
        </sDEF>
    </sheets>
</T3DataStructure>
