<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:comment>
    Month calendar template.
    Expected variables:
      {calendar.viewMode}      string
      {calendar.currentDate}   DateTimeImmutable
      {calendar.weeks}         array of week arrays, each containing 7 day entries
      {calendar.navigation}    array with 'prev' and 'next' DateTimeImmutable
      {calendar.events}        Event[] – all events for the month
</f:comment>

<div class="mai-calendar mai-calendar--month">

    <f:render partial="Calendar/Navigation" arguments="{calendar: calendar}" />

    <div class="mai-calendar__header">
        <h2 class="mai-calendar__title">
            <f:format.date format="%B %Y" date="{calendar.currentDate}" />
        </h2>
    </div>

    <table class="mai-calendar__grid">
        <thead>
            <tr>
                <th scope="col"><f:translate key="weekday.monday" extensionName="mai_events" /></th>
                <th scope="col"><f:translate key="weekday.tuesday" extensionName="mai_events" /></th>
                <th scope="col"><f:translate key="weekday.wednesday" extensionName="mai_events" /></th>
                <th scope="col"><f:translate key="weekday.thursday" extensionName="mai_events" /></th>
                <th scope="col"><f:translate key="weekday.friday" extensionName="mai_events" /></th>
                <th scope="col"><f:translate key="weekday.saturday" extensionName="mai_events" /></th>
                <th scope="col"><f:translate key="weekday.sunday" extensionName="mai_events" /></th>
            </tr>
        </thead>
        <tbody>
            <f:if condition="{calendar.weeks}">
                <f:then>
                    <f:for each="{calendar.weeks}" as="week">
                        <tr class="mai-calendar__week">
                            <f:for each="{week}" as="day">
                                <td class="mai-calendar__day
                                    {f:if(condition: day.isCurrentMonth, else: ' mai-calendar__day--other-month')}
                                    {f:if(condition: day.isToday, then: ' mai-calendar__day--today')}"
                                    aria-label="{f:format.date(format: 'Y-m-d', date: day.date)}"
                                >
                                    <span class="mai-calendar__day-number">
                                        <f:format.date format="j" date="{day.date}" />
                                    </span>

                                    <f:if condition="{day.events}">
                                        <ul class="mai-calendar__events" role="list">
                                            <f:for each="{day.events}" as="event">
                                                <li class="mai-calendar__event-item">
                                                    <f:render partial="Calendar/Event" arguments="{event: event, compact: 1}" />
                                                </li>
                                            </f:for>
                                        </ul>
                                    </f:if>
                                </td>
                            </f:for>
                        </tr>
                    </f:for>
                </f:then>
                <f:else>
                    <tr>
                        <td colspan="7" class="mai-calendar__no-events">
                            <f:translate key="calendar.noEvents" extensionName="mai_events" default="No events in this period."/>
                        </td>
                    </tr>
                </f:else>
            </f:if>
        </tbody>
    </table>

    <f:render partial="Calendar/ICalLink" arguments="{calendar: calendar}" />

</div>

</html>
