<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:comment>
    Week calendar template.
    Expected variables:
      {calendar.viewMode}      string
      {calendar.currentDate}   DateTimeImmutable
      {calendar.weeks}         array with one week (7 day entries)
      {calendar.navigation}    array with 'prev' and 'next' DateTimeImmutable
</f:comment>

<div class="mai-calendar mai-calendar--week"{f:if(condition: calendar.contentUid, then: ' id="c{calendar.contentUid}"')}>

    <f:render partial="Calendar/Navigation" arguments="{calendar: calendar}" />

    <div class="mai-calendar__header">
        <h2 class="mai-calendar__title">
            <f:translate key="calendar.viewMode.week" extensionName="mai_events" />
            <f:format.date format="W, Y" date="{calendar.currentDate}" />
        </h2>
    </div>

    <f:for each="{calendar.weeks}" as="week">
        <div class="mai-calendar__week-row">
            <f:for each="{week}" as="day">
                <div class="mai-calendar__day-column
                    {f:if(condition: day.isToday, then: ' mai-calendar__day-column--today')}"
                >
                    <div class="mai-calendar__day-header">
                        <span class="mai-calendar__weekday-name">
                            <f:format.date format="D" date="{day.date}" />
                        </span>
                        <span class="mai-calendar__day-number">
                            <f:format.date format="j" date="{day.date}" />
                        </span>
                    </div>

                    <div class="mai-calendar__day-events">
                        <f:if condition="{day.events}">
                            <f:then>
                                <ul class="mai-calendar__events" role="list">
                                    <f:for each="{day.events}" as="event">
                                        <li class="mai-calendar__event-item">
                                            <f:render partial="Calendar/Event" arguments="{event: event, compact: 1}" />
                                        </li>
                                    </f:for>
                                </ul>
                            </f:then>
                        </f:if>
                    </div>
                </div>
            </f:for>
        </div>
    </f:for>

    <f:render partial="Calendar/ICalLink" arguments="{calendar: calendar}" />

</div>

</html>
