<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="mai-calendar mai-calendar--list"{f:if(condition: calendar.contentUid, then: ' id="c{calendar.contentUid}"')}>

    <f:render partial="Calendar/Navigation" arguments="{calendar: calendar}" />

    <div class="mai-calendar__header">
        <h2 class="mai-calendar__title">
            <f:translate key="calendar.viewMode.list" extensionName="mai_events" />
        </h2>
    </div>

    <f:if condition="{calendar.events}">
        <f:then>
            <ul class="mai-calendar__event-list" role="list">
                <f:for each="{calendar.events}" as="event">
                    <li class="mai-calendar__event-list-item">
                        <f:render partial="Calendar/Event" arguments="{event: event, compact: 0}" />
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <p class="mai-calendar__no-events">
                <f:translate key="calendar.noEvents" extensionName="mai_events" />
            </p>
        </f:else>
    </f:if>

    <f:render partial="Calendar/ICalLink" arguments="{calendar: calendar}" />

</div>

</html>
